.home{
    display: flex;
    justify-content:space-between
}
.coinmarket{
    flex:1;
    width: 50%;
   
}
.chart{
    flex:1;
}
.home-wallet-placeorder{
    display:flex;
}
.home-wallet{
    width: 70%
}
.home-placeorder{
    width: 30%
}